@import '../../../variables';

.wrapper {
  //width: $s*36;
  display: block;
  text-align: center;
  min-height: 100%;
  padding: 0 $s*1.5;
  padding-right: $s;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  :host-context(.isLightTheme) & {
    //background: #eeeeee !important;
  }

  header {
    display: block;
  }
}

.notes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

note {
  display: block;
  margin-bottom: $s*1.5;
  margin-right: $s*1.5;
}
