<main-header></main-header>
<bookmark-bar *ngIf="bookmarkService.isShowBookmarks$|async"
              [@expand]></bookmark-bar>
<add-task-bar class="global"
              [@blendInOut]
              (blur)="layoutService.hideAddTaskBar()"
              *ngIf="layoutService.isShowAddTaskBar$|async"></add-task-bar>
<ng-sidebar-container>
  <ng-sidebar
    [mode]="mobileQuery.matches ? 'push' : 'push'"
    [opened]="noteService.isShowNotes$|async"
    position="top">
    <notes></notes>
  </ng-sidebar>
  <div ng-sidebar-content
       class="sidebar-content">
    <div class="route-wrapper"
         [@warpRoute]="getPage(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
  <!--(closedStart)="noteService.hide()"-->
</ng-sidebar-container>
